body,div,p {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 1200px;
	margin: 0 auto;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.header {
	color: #343434;
	font: 16px/68px 'Microsoft yahei';
	height: 68px;
}

.header img {
	float: left;
}

.header p {
	float: left;
	margin-left: 10px;
}

.bgd {
	background: url('../images/login.jpg') repeat-x center center;
	height: 594px;
}

.bgd table {
	top: 110px;
	right: 92px;
	width: 296px;
	height: 326px;
	background-color: #fff;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	padding: 20px 26px;
}

.bgd table tr td {
	padding: 12px 0;
}

.bgd table tr input {
	height: 42px;
	padding-left: 16px;
	border: 1px solid #aaaaaa;
	line-height: normal;
	line-height/*\**/: 42px \9;
}

.bgd table tr .w230 {
	width: 228px;
}

.bgd table tr .w118 {
	width: 108px;
}

.bgd table tr img {
	width: 108px;
	height: 44px;
	padding-left: 10px;
	vertical-align: middle;
}

.bgd table .title {
	font: 20px/20px 'Microsoft yahei';
	text-align: left;
}

.bgd table .title td {
	padding: 3px 0;
}

.bgd table .h50 td {
	height: 28px;
	font-size: 12px;
	color: #343434;
	padding: 0;
}

.bgd table .checkbox {
	width: 12px;
	height: 12px;
	border: 1px solid #1c5281;
	padding: 0;
	vertical-align: middle;
}

.bgd table .forget {
	text-align: center;
}

.bgd table .forget a {
	color: #506eaa;
	text-decoration: none;
}

.bgd table .forget a:hover {
	text-decoration: underline;
}

.bgd table .regist td {
	padding: 0;
}

.bgd table .regist a {
	font-size: 12px;
	text-decoration: none;
	color: #506eaa;
}

.bgd table .agentlogin {
	text-align: right;
}

.bgd table tr input.login {
	width: 244px;
	height: 36px;
	background-color: #fc7907;
	color: #fff;
	font-size: 14px;
	border: 1px solid #e25c09;
	border-radius: 3px;
	cursor: pointer;
	padding-right: 16px;
}

.register {
	width: 100px;
	height: 36px;
	background-color: #f7ede7;
	color: #7d4743;
	font-size: 14px;
	border: 1px solid #cea0a0;
	border-radius: 3px;
	cursor: pointer;
	padding-right: 16px;
}

.footer {
	font: 12px/83px '宋体';
	color: #343434;
}

.footer p {
	width: 304px;
	float: right;
	margin-right: 92px;
}

.footer p a {
	padding: 0 12px;
	color: #343434;
	text-decoration: none;
}

.footer p a:hover {
	text-decoration: underline;
}

.footer p span {
	border-left: 1px solid #343434;
	padding-left: 12px;
}

.placeholderui {
	position: absolute;
	color: #a3a3a3;
	white-space: nowrap;
	overflow: hidden;
	cursor: text;
	pointer-events: none;
	z-index: 1;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.check {
	font-size: 12px;
	border: 1px solid red;
	background-color: #FDF1F1;
	width: 230px;
	padding: 3px 0;
	padding-left: 16px;
	top: -15px;
}